In [3]:
from bs4 import BeautifulSoup
import requests
import time
import datetime
import smtplib
import certifi

In [4]:
URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(URL, headers = headers, verify = certifi.where())

soup1 = BeautifulSoup(page.content, 'html')

soup2 = BeautifulSoup(soup1.prettify(), 'html')

title = soup2.find(id = 'productTitle').get_text()

price_symbol = soup2.find('span', class_='a-price-symbol').get_text()
price_whole = soup2.find('span', class_='a-price-whole').get_text()
price_fraction = soup2.find('span', class_='a-price-fraction').get_text()
price = price_symbol + price_whole + price_fraction

cleaned_price = price.strip().replace(' ', '').replace('\n', '')

print(title)
print(cleaned_price)

                  Funny Got Data MIS Data Systems Business Analyst T-Shirt

$14.99

In [5]:
cleaned_price = cleaned_price.strip()[1:]
title = title.strip()

print(cleaned_price)
print(title)

14.99
Funny Got Data MIS Data Systems Business Analyst T-Shirt

In [11]:
import datetime

today = datetime.date.today()

print(today)

2024-04-25

In [14]:
import csv

header = ['Title', 'Price', 'Date']
data = [title, cleaned_price, today]

with open('AmazonWebScraperDataset.csv', 'w', newline = '', encoding = 'UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [15]:
import pandas as pd

df = pd.read_csv(r"C:\Users\HP\Documents\Data Analytics\Python for Data Analytics\AmazonWebScraperDataset.csv")

df

                                               Title  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...  14.99  2024-04-25

In [16]:
with open('AmazonWebScraperDataset.csv', 'a+', newline = '', encoding = 'UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [17]:
def check_price():

    URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'

    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

    page = requests.get(URL, headers = headers, verify = certifi.where())

    soup1 = BeautifulSoup(page.content, 'html')

    soup2 = BeautifulSoup(soup1.prettify(), 'html')

    title = soup2.find(id = 'productTitle').get_text()

    price_symbol = soup2.find('span', class_='a-price-symbol').get_text()
    price_whole = soup2.find('span', class_='a-price-whole').get_text()
    price_fraction = soup2.find('span', class_='a-price-fraction').get_text()
    price = price_symbol + price_whole + price_fraction

    cleaned_price = price.strip().replace(' ', '').replace('\n', '')

    cleaned_price = cleaned_price.strip()[1:]
    title = title.strip()

    import datetime

    today = datetime.date.today()

    import csv

    header = ['Title', 'Price', 'Date']
    data = [title, cleaned_price, today]

    with open('AmazonWebScraperDataset.csv', 'a+', newline = '', encoding = 'UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

In [ ]:
while(True):
    check_price()
    time.sleep(5)

In [20]:
import pandas as pd

df = pd.read_csv(r"C:\Users\HP\Documents\Data Analytics\Python for Data Analytics\AmazonWebScraperDataset.csv")

df

                                               Title  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...  14.99  2024-04-25
1  Funny Got Data MIS Data Systems Business Analy...  14.99  2024-04-25
2  Funny Got Data MIS Data Systems Business Analy...  14.99  2024-04-25
3  Funny Got Data MIS Data Systems Business Analy...  14.99  2024-04-25
4  Funny Got Data MIS Data Systems Business Analy...  14.99  2024-04-25
5  Funny Got Data MIS Data Systems Business Analy...  24.95  2024-04-25